body {
	outline: 1px dotted red;
}
.square {
  background-color: red;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
  width: 18px;
  height: 18px;
  position:absolute;
}
.container-wrap {
	display: inline-block;
	float: left;
	outline: 1px dotted red;
	background-color: black;
	opacity: .9;
}
.console-wrap {
	background-color: red;
	display: inline-block;
	width: 300px;
	height: 335px;
	margin: 0 auto;
	float: left;
	padding: 20px;
	color: white;
	text-align: center;
}
h1 {
	font-size: 7em;
		opacity: .9;
}
h2 {
	font-size: 2em;
text-align: center;
}
.score {
	margin-bottom: .5em;
}
.lines {
	margin-bottom: 1em;
}
hr {
	margin-bottom: 2em;
	opacity: .4;
	width: 80%;
}
button {
	background-color: white;
	text-align: center;
	width: 100px;
	height:25px;
	margin: 10px;
	opacity: .9;
}
